@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}
.container{
    max-width: 360px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;

}
.card img{
    width: 100%;
    border-radius: 15px;
}
.text{
    text-align: center;
}
.text h2{
    color: hsl(218, 44%, 22%);
    padding: 15px;
}
.text p{
    font-weight: 400;
}
.attribution{
    text-align: center;
    color: hsl(218, 44%, 22%);
}